<h1>StaticPages#help</h1>
<p>
	Get help on Ruby on Rails Tutorial at the
	<a href="http://railstutorial.jp/help">Rails Tutorial help station</a>
	To get help on this sample app see the
	<a href="http://railstutorial.jp"><em>Ruby on Rails Tutorial</em>
		book</a>
</p>
